h1{
    color: white;
}

.cta-button{
    background-color: #85a4af;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px;
    margin-left: 300px;
}
.cta-button:hover { background-color: #970e03; }

.file{
    width: 400px;
}