{%extends "base.html" %}
{% load static %} 

{%block title%} Articulos{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{%block content%}

<section class="hero">
  <h1>Bienvenidos al blog </h1>
  <p>Aqui encontrarás las ultimas novedades en programación</p>

</section>

  <section class="post_reciente">
    <h2>Lo mas reciente</h2>
    
      <div class="post_ini">
         {% for  post in  post_recientes %}
         
        <div class="card" style="width: 20rem">
           		<img src="{{ post.image.url }}" class="card-img-top" alt="..." >
         			<div class="card-body">
            			<h5 class="card-title">{{ post.title }}</h5>
           				 <p>{{ post.content|truncatewords:30  | safe}}</p>
           				 <p class="card-text">{{post.description}}</p>
           				 <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Ver más..</a>
         			</div>
        </div>
           {% endfor %}
      </div>
  </section>
<section class="post_reciente">
    <h2>Lo mas visto</h2>
     <div class="post_ini">
         {% for  post in  post_recientes %}
         
		<div class="card" style="width: 20rem">
			<img src="{{ post.image.url }}" class="card-img-top" alt="..." >
			  	<div class="card-body">
				 	<h5 class="card-title">{{ post.title }}</h5>
					 <p>{{ post.content|truncatewords:30  | safe}}</p>
					 <p class="card-text">{{post.description}}</p>
					 <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Ver más..</a>
			 	 </div>
        </div>
       {% endfor %}
    </div>
  </section>
  {% endblock %}
           


